@using MRP.Domain.DomainModels
@model IEnumerable<Rooms>

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
    ViewBag.Title = "Rezerwacja pokoju";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "AR",
        HttpMethod = "POST",
        Url= Url.Action("ShowAvailableRooms", "Rooms")
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rezerwacja pokoju</title>
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <script src="~/scripts/jquery-1.12.4.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {//beginning of jQuery
            $("#arrival").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy",
                numberOfMonths: 1,
                maxDate: 365,
                minDate: -3650
            });

            $("#departure").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy",
                numberOfMonths: 1,
                maxDate: 365,
                minDate: -3650
            });
        });

        
    </script>
</head>
<body>
    
    <fieldset>
        <legend>Rezerwacja pokoju</legend>
        @using (Ajax.BeginForm(ajaxOpts))
        {
            <ol>
                <li>
                    @Html.Label("Zameldowanie:")
                    @Html.TextBox("arrival")
                </li>
                <li>
                    @Html.Label("Wymeldowanie:")
                    @Html.TextBox("departure")
                </li>
                <li>
                    @Html.Label("Ilość osób dorosłych (18+)")
                    @Html.TextBox("adults_num")
                </li>
                <li>
                    @Html.Label("Ilość dzieci (0-17)")
                    @Html.TextBox("kids_num")
                </li>
            </ol>
            <button>Sprawdź dostępność i cenę</button>

        }
    </fieldset>



    <div id="AR">

    </div>
</body>
</html>
